<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <appSettings>
    <add key="hostname" value="159.50.103.15"/> 
    <add key="username" value="G04920YB"/>
    <add key="password" value="q3Ab2PWzR39k"/>
    <add key="sftpportnumber" value="6710"/>
    <add key="logfiledir" value=""/>
    <add key="sourcedirpush" value="C:\+DMI\Test\"/>
    <add key="destdirpush" value="D:/temp/"/>
    <add key="sourcedirpull" value=""/>
    <add key="destdirpull" value=""/>
    <add key="sshhkfp" value="ssh-rsa 2048 BBLAXMQ+KWkBxk4s1vgWMaJT4WOMYYTeXUeWAR5NFLM="/> <!--ssh-rsa 4096 VgaFOpR20Se5I49WaL6zn7YVukUMfiC0Dz8H8zwza6A=-->
    <add key="mailservername" value=""/>
    <add key="mailportnumber" value=""/>
    <add key="mailsubject" value=""/>
    <add key="mailtoaddress0" value=""/>
    <add key="mailfromaddress" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
